<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} · {{ .Site.Title }}{{ end }}</title>
{{ with .Site.Params.tagline }}<meta name="description" content="{{ . }}">{{ end }}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pirata+One&family=IM+Fell+English:ital@0;1&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ "css/pirate.css" | relURL }}">
{{ with .Site.Params.tinylytics }}
<script src="https://tinylytics.app/embed/{{ . }}.js?hits&kudos" defer></script>
{{ end }}
